body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user-panel {
  margin-top: 15px;
}

.padLeft { padding-left:3px; }

.padRig { padding-right:3px; }